[2018-03-22 19:57] philbernier opened #1 "JustBetter\Sentry\Model\SentryLog is a copy of JustBetter\Sentry\Plugin\ExceptionCatcher"
Hi,

The content in file SentryLog.php is a copy of ExceptionCatcher.php. It seems there was an error during file transfer. Can you please reupload SentryLog.php?

Thank you.

[2018-03-23 08:24] rakibabu commented on #1
Hi @philbernier ,

Thanks for reporting this bug. I made an new version 0.0.6 with the correct file.
if you have any other questions, please let me know.

Kind regards,

Rakhal Imming

[2018-03-23 08:26] #1 closed

[2018-03-27 18:04] dredumont commented on #1
Can you push the new version on Packagist ?

[2018-03-28 07:13] royduin commented on #1
Done: https://packagist.org/packages/justbetter/magento2-sentry

[2018-04-08 18:57] ctadlock opened #3 "Ability to send test event"
Would be good to have a button to send a test event to Sentry to make sure its all working correctly. Often extensions like SMTP email have this and its very useful.

[2018-04-08 19:02] royduin commented on #3
Thanks for the suggestion, we'll implement it next week and keep you posted.

[2018-04-08 21:28] ctadlock opened #4 "Ability to set Magento modes that send errors to Sentry"
Currently errors are only sent to Sentry if Magento is in `production` mode. That's great for when the site is running, but not helpful during development. There should be an admin setting to allow for errors to be sent for any/all Magento modes.

[2018-04-08 21:44] ctadlock commented on #4
In addition, the current Magento mode should be sent over to Sentry su that any filtering can happen there.

[2018-04-17 14:38] rakibabu commented on #3
Hi @ctadlock ,

In the new version 0.1.0 I've added a button to send a test event to sentry based on your domain field. The test event is triggered from the /vendor/bin directory.

Kind regards,

Rakhal Imming

[2018-04-17 14:40] #3 closed

[2018-04-17 14:42] rakibabu commented on #4
Hi @ctadlock ,

Thanks for the suggestion, I'll implement this enhancement soon.

Kind regards,

Rakhal Imming

[2018-04-27 22:59] ctadlock commented on #4
I tried out your latest code for sending a test event. Im getting this error when your admin config page loads.

![image](https://user-images.githubusercontent.com/1539397/39388325-01d13d00-4a34-11e8-9045-85909f2a621d.png)

[2018-04-28 19:01] ctadlock commented on #4
^ static content is not deployed on this site because its in development; which is the whole purpose of this feature.

[2018-04-30 10:16] rakibabu commented on #4
Hi @ctadlock ,

I've added an option in de latest code to fix your issue with testing this module on development mode. There's an option in the backend `Send errors in development mode` which you can turn on to test this module.

Static content is not required to deploy `testsentry.js`. Please ensure you've the option `Allow Symlinks` turned on in your magento 2 installation when on development mo

[2018-04-30 10:17] #4 closed

[2018-04-30 19:15] zack6849 opened #5 "Doesn't seem to work with earlier versions of magento2?"
I'm on magento 2.1.10 and can't build without commenting out the following line from the di.xml

https://github.com/justbetter/magento2-sentry/blob/master/etc/di.xml#L7

Is there anything that doesn't work from this being disabled i'm not noticing?
It still sends test events and exceptions.
I should also mention that it wouldnt even install via composer install because it wanted a newer version of

[2018-04-30 19:37] zack6849 commented on #5
Thanks a ton, like i said it seems functional for barebones functionality just by forcing the install and commenting out that line

[2018-04-30 20:33] rakibabu commented on #5
@zack6849 ,

With build you mean running `setup:di:compile`? With a clean install of magento 2.1.10 I can build the module with no errors. Can you provide me with more information about this?
For composer installation with version 2.1.10 I'll downgrade the version of monolog to version 1.16.

Happy to hear from you.

Kind regards,

Rakhal Imming

[2018-04-30 20:51] rakibabu commented on #5
@zack6849 ,

Please check if version 0.2.1 is working for you on Magento 2.1.10 and via composer.

Happy to hear from you.

Kind regards,

Rakhal Imming

[2018-05-01 10:53] zack6849 commented on #5
Hi,
0.2.1 isn't availible on composer yet, do you want to push it so I can test?

[2018-05-01 18:54] rakibabu commented on #5
Hi @zack6849 ,

Please install via composer version 0.2.2. Something weird happend with version 0.2.1. I cannot reproduce your error with Magento 2.1.10 & monolog 1.16. Did you deleted the generation folder and cleared the cache?

Happy to hear from you.

[2018-05-07 07:13] rakibabu commented on #5
Hi @zack6849 ,

Thanks for the debug report, i've tested above with all functions regarding the removal of the line in the di.xml. All functions works fine in Magento 2.1.x and Magento 2.2.x.

Can you test it one more time in your build? When everything works as expected i'll release the new version.

Kind regards,

Rakhal Imming

[2018-05-07 11:03] zack6849 commented on #5
Well, it sent events and whatnot, but you added that line, no?

What was the reason that line was here?

[2018-06-22 10:00] andrewsurrey opened #6 "insanity logging levels"
Default logging level is absolute insanity, and sould probably be removed altogether.

This caused our sentry account to hit it's quota of events within a few page loads. Sending thousands of log entries per page load into a system meant to exception logging is crazy.

[2018-06-27 09:18] andrewsurrey commented on #5
was this solved?
I had this working perviously, done a fresh build with 2.1.* and getting this error.

[2018-06-27 11:35] zack6849 commented on #5
Hi Andrew, the dev never got back to me, but if you look higher in the comments you can remove the line specified manually and it will work.

Specifically, this line: https://github.com/justbetter/magento2-sentry/blob/master/etc/di.xml#L7

[2018-06-27 13:36] royduin commented on #5
Sorry guys, I'll ask @rakibabu to look into this shortly.

[2018-07-06 07:43] rakibabu commented on #5
Hi Guys,

I release 0.3.0 for the support for magento 2.1.x.
@zack6849 the rule in de di.xml is the injection of the monolog ravenhandler for the handler in de SentryLog model. The rule is not necessary since I construct a new Ravenhandler in the method sendRecordToSentry.

[2018-07-06 07:44] rakibabu commented on #6
I @andrewsurrey ,

You're absolutely right, this is crazy. I removed this line and the default log level when installing in now info.

Kind regards,

Rakhal Imming

[2018-07-06 07:45] #5 closed

[2018-07-06 07:45] #6 closed

[2018-07-09 13:17] venturestream opened #7 "<unlabeled event> - Discarded invalid value for parameter 'sentry.interfaces.Message'"
Getting lots of empty exceptions through
<unlabeled event>

Discarded invalid value for parameter 'sentry.interfaces.Message'

value:

{
formatted: {},
message: {},
params: []
}
latest version, running on Magento 2.1

[2018-08-03 22:28] joostvanveen opened #9 "Your requirements could not be resolved to an installable set of packages."
When I try to install `justbetter/magento2-sentry ^0.3.0` with composer in Magento 2.2.4 I get an error. The same error occurs when requiring the `dev/master` version.

The error:
[code]

* I can see the justbetter/magento2-sentry composer .json requires `"magento/framework": "*"`
* All Magento core packages and a lot of other packages also require `magento/framework` and composer installing them

[2018-08-03 22:35] joostvanveen commented on #9
Okay, I feel really stupid. Just found out I tried to run `composer update justbetter/magento2-sentry` from the project root, instead of the magento2 directory.

Sorry for this. Erm.

[2018-08-03 22:35] #9 closed

[2018-08-09 12:04] rakibabu commented on #7
Hi @venturestream can you provide me with more data to reproduce this issue?

Happy to hear from you.

[2018-08-10 15:38] rakibabu commented on #7
Hi @venturestream ,

I've updated the extension to get more info in sentry. Refactored some code, can you update the extension and check if the message is still there?

Kind regards,

Rakhal Imming

[2018-08-10 15:39] #7 closed

[2018-09-06 16:52] andrewsurrey opened #10 "Area code is already set"
Issues with Magento 2.2.5.

installed via composer

"justbetter/magento2-sentry": "^0.4.1"

Random errors pop up, for example when generating a sitemap, or cache flushed.

'Area code is already set'

stack trace:

#0 Magento\Framework\App\State->setAreaCode() called at [/var/www/html/vendor/justbetter/magento2-sentry/Helper/Data.php:62] #1 JustBetter\Sentry\Helper\Data->__construct() called at [/v

[2018-09-10 09:43] rakibabu commented on #10
Hi @andrewsurrey ,

Thanks for the feedback. This error only occurs when performing backend actions in magento 2?

[2018-09-10 15:55] andrewsurrey commented on #10
Hi,

the examples I've seen were mostly backend, but I am pretty sure I have
seen it happen frontend too, but I never took note of that. It was only
specific pages/functionality that created the issue.

flushing cache
genrerate sitemap

those two I specifically recall, others I don't.

thanks

On Mon, Sep 10, 2018 at 10:43 AM Rakhal Imming <notifications@github.com>
wrote:

[2018-10-01 07:28] rakibabu commented on #10
Ok thanks, I'll try to reproduce this issue on 2.2.5 & 2.2.6 within 2 weeks.

[2018-10-29 14:06] kriby commented on #10
@rakibabu , please follow these steps to reproduce issue:
1. php bin/magento setup:upgrade
2. php bin/magento setup:di:compile
3. Reload page on storefront

in my case it is magento 2.2.6 in default mode

[2018-11-16 19:51] ctadlock opened #11 "Ability to set Raven options"
The url that is sent to sentry is incorrect in our setup. Our Apache web server is running on port 30000, in our AWS ELB we forward ports 80 and 443 to 30000 (for load balancing and SSL offload). When an exception occurs, the correct domain is sent, but it is including the internal port.

Magento: 2.2.6
"justbetter/magento2-sentry": "0.4.2"

![image](https://user-images.githubusercontent.com/15393

[2018-11-16 20:48] ctadlock commented on #11
There is a Raven option `ignore_server_port` which should be used to handle this. How can we pass through options into raven with this extension?

[2018-11-22 17:29] kyriog commented on #10
I can confirm I had the same problem on my M2.2.6 instance.
Configured in developer mode.

It seems it occurs when we try to reference `\Psr\Log\LoggerInterface` (even in commented code!).

I tried to move to your last commit 4a815b5, and the problem is now gone.

[2018-11-22 19:01] kyriog commented on #10
Edit, with your last commit, I can't edit an admin role.

[2018-11-28 22:19] awilsonCurt commented on #10
We are also encountering issues with the Area Code error. Updating to the newest version seemed to have no effect.

The error that I encounter happens during install:
php_1_d223d55492b4 | [Progress: 677 / 1358]
php_1_d223d55492b4 | [Progress: 678 / 1358]
php_1_d223d55492b4 | Installing user configuration...
php_1_d223d55492b4 |
php_1_d223d55492b4 |
php_1_d223d55492b4 |   [Magento\Framework\Excepti

[2018-12-07 12:04] rakibabu commented on #10
Hi All,

Thanks for the feedback. I was able to reproduce this. In version 0.5.0 the setAreaCode is removed and replaced with emulateAreaCode. In addition to that I've found a problem with the CustomerSession which also produced this error. I've proxied that class.

Release 0.5.0 is tested on Magento 2.2.7 & Magento 2.3.0.

Happy to hear your thoughts about this.

[2018-12-07 12:04] rakibabu commented on #11
Hi @ctadlock ,

I've added in the constructor the parameter ignore_server_port. Can you check if this resolves your issue?

[2018-12-08 13:38] kriby commented on #10
@rakibabu I updated module to 0.5.0 and the issue is no longer reproducible. Thanks!

[2018-12-08 13:39] royduin commented on #10
Thank you for your feedback!

[2018-12-08 13:39] #10 closed

[2018-12-08 13:44] #11 closed

[2019-02-15 12:34] dzschille opened #14 "v0.6.0: Exception thrown when opening config in backend"
I just installed the module for the first time. The installation had no errors but when i open the module config in the backend (path admin/system_config/edit/section/sentry/) i get this error message:

[code]
The error seems to be the [new field script_tag_placement](https://github.com/justbetter/magento2-sentry/commit/d24cc63de59e5f7a2f9090400c46fe1741db6c86#diff-c4a53edec4557757b0db215231c89c32

[2019-02-15 12:36] royduin commented on #14
@rakibabu and @michielgerritsen

[2019-02-15 12:39] kkrieger85 opened #15 "Setup:DI:Compile Incompatible argument type"
Interception cache generation... 6/7 [========================>---]  85% 29 secs 290.0 MiB

Errors during compilation:
	Magestore\Bannerslider\Model\ResourceModel\Banner\Collection
		Incompatible argument type: Required type: \Magento\Framework\DB\Adapter\AdapterInterface. Actual type: \Magento\Framework\Model\ResourceModel\Db\AbstractDb; File:
[PWD]/vendor/magestore/module-bannerslider/Model/Reso

[2019-02-15 12:46] #15 closed

[2019-02-15 12:51] rakibabu commented on #14
HI @dzschille ,

Thanks for posting this issue. It has been fixed in release v0.6.1 (https://github.com/justbetter/magento2-sentry/tree/0.6.1) with PR (https://github.com/justbetter/magento2-sentry/pull/16).

[2019-02-15 12:52] #14 closed

[2019-02-15 13:06] dzschille commented on #14
That was really quick! Thanks!!
I updated to v0.6.1 and it works well now.

[2019-02-26 15:29] nmcit-helal opened #17 "bin/magento setup:upgrade print message say area did not set"
in terminal when  using bin/magento setup:upgrade printed message say area did not set  and when disable the plug-in magneto 2.2 works fine

[2019-02-27 09:11] rakibabu commented on #17
Hi @nmcit-helal,

Thanks for the report.
Can you specify which version of Magento 2.2 you work?

Thanks in advance.

[2019-02-27 09:36] nmcit-helal commented on #17
Hi @rakibabu,
i am using magneto 2.2.2
Thanks,

[2019-02-28 10:38] shochdoerfer commented on #17
Having the same issue in a project with Magento version 2.2.5 & justbetter/magento2-sentry in version 0.6.1.

[2019-04-04 22:41] qdb opened #18 "Use referenceBlock instead of referenceContainer"
Hi,

I think in [view/frontend/layout/default.xml](https://github.com/justbetter/magento2-sentry/blob/master/view/frontend/layout/default.xml#L4) you need to use referenceBlock instead of referenceContainer. I upgraded the plugin to newest version today in my project and had issues with existing code because of that.

Please check similar issue: https://github.com/magento/magento2/issues/16497

Th

[2019-04-05 08:16] rakibabu commented on #18
Hi @qdb ,

Thanks for notifying me :). This has been changed in version 0.6.2.

Regards,

Rakhal

[2019-04-05 08:16] rakibabu commented on #17
Hi @shochdoerfer & @nmcit-helal ,

Thanks for responding with this issue. Unfortunately I can't reproduce this issue on a clean install with magento. Can you specify your steps yo reproduce this on you Magento 2 versions? By the way you guys should update to Magento 2.2.8, there are some security issue with Magento lower than 2.2.8.

I'm closing this issue for now, please feel free to submit an is

[2019-04-05 08:16] #17 closed

[2019-04-05 08:16] #18 closed

[2019-07-18 15:12] dareenzo opened #20 "Add user info to error log when user is logged in"
**Do you want to request a *feature* or report a *bug*?**

request feature

**Feature: What is your use case for such a feature?**

I need to know with whom the error happened such that I can be able to proactively contact the user and request more info or let them know they should update the app somehow.

**Feature: What is your proposed configuration entry? The new option to add? What is the beh

[2019-08-28 17:06] kyriog opened #23 "Unable to setup:di:compile with Magento non installed"
**Bug: What is the current behavior?**
Running `bin/magento setup:di:compile` doesn't work if Magento 2 is not installed:
[code]

**Bug: What is the expected behavior?**
According to [Magento Official Devdoc](https://devdocs.magento.com/guides/v2.3/config-guide/cli/config-cli-subcommands-compiler.html#config-cli-subcommands-single-before), it is possible to generate compiled code before installing

[2019-08-29 14:20] #23 closed

[2019-08-29 14:22] rakibabu commented on #20
Hi @dareenzo ,

Thanks for the feature request, i'll implement this tomorrow. In release 0.9.0.

[2019-09-10 23:13] JosephMaxwell opened #25 "Upgrade to Sentry API v2 + exception handling?"
**Feature: What is your use case for such a feature?**
I am comparing Rollbar vs Sentry and am seeing that Rollbar (while very basic) has good root-level exception handling. This is quite important, and seems to be missing from Sentry (just log publishing).

However, the v2 of the Sentry API has much better exception handling.

Are you open to pull requests? Or, are you already working on such an

[2019-09-11 12:41] rakibabu commented on #25
Hi @JosephMaxwell ,

I was planning to rework the module with v2 of sentry, however I can't find the time right now to upgrade the module with the extension. If you want to make a start with this i'll really appreciate it.

We should collaborate on the rework to version 2 :)

[2019-09-11 12:57] JosephMaxwell commented on #25
Hello @rakibabu ,

Thanks for the response. The module looks pretty simple overall. Are there any special callouts that are important to you? My goal, otherwise, is to catch as many logs/exceptions as possible and push up to sentry.

Joseph

[2019-09-13 15:37] JosephMaxwell commented on #25
@rakibabu,

Hi there. Here is my pull request: https://github.com/justbetter/magento2-sentry/pull/26

As soon as you can merge/tag it, I would be grateful as I hope to deploy this on a number of our other projects.

Joseph

[2019-09-30 14:18] peterjaap commented on #20
@rakibabu any sight on when 0.9.0 will be released? `develop` right now is equal to `0.8.0` so I'm not sure what is in 0.9.0?

[2019-10-10 00:12] DominicWatts opened #28 "Admin system configuration slowdown when saving config value"
Magento 2.3.2 vanilla using luma theme.  Very few customisations.

I noticed today on a dev install as soon as sentry extension is enabled when you click save in system configuration you experience slowdown

I've done a bit of profiling and it's not MySQL.  MySQL sleep processes stack up whilst waiting on the application.

php-fpm appears to be hanging on something.  But I can't pinpoint it to any

[2019-10-21 10:23] JeroenBoersma commented on #28
Me too, I've done my Blackfire profiling and it's a deadlock.

`Cache->flush` will rebuilt the cache which locks the cache until it's written and it also writes something to the log..

The log where Sentry gets injected wants to check if Sentry is enabled in config, so it triggers a `cache->load` which is of coarse locked, which results in a deadlock.

I would suggest, having that Sentry is a `deb

[2019-11-13 08:13] Niko9911 commented on #25
@rakibabu Please.... We are still waiting for this.

[2019-11-13 08:36] Niko9911 opened #30 "Codestyling"
To enforce codestyling, project should utilize phpcsfixer. I will be implementing this into develop branch after #26 has been merged.

[2019-11-19 08:40] #20 closed

[2019-11-19 08:57] rakibabu commented on #28
The PR is merged, thanks for contributing to this issue.

[2019-11-19 09:01] rakibabu commented on #25
@Niko9911 @JosephMaxwell ,

The PR's are merged and will be released today.

Thanks for contributing and for you patience.

Raki

[2019-11-19 09:01] rakibabu commented on #30
@Niko9911 ,

The PR has been merged into develop.

[2019-11-19 09:01] #30 closed

[2019-11-19 09:02] #25 closed

[2019-11-19 09:02] #28 closed

[2019-11-19 10:02] Niko9911 commented on #30
Yes, I see, but issue about codestyle standards is still valid @rakibabu

[2019-11-19 10:04] NikoGrano opened #31 "Implement PHPCSFixer"
To keep codestyling same everywhere, we should utilize PHPCSFixer which will perform automatically fixes into code style. Example configuration will be posted via PR.

[2019-11-19 10:17] rakibabu commented on #31
@Niko9911 ,

Thanks for contributing!

[2019-11-19 10:19] rakibabu opened #32 "Bug - test configuration in backend not working anymore"
The button test configuration in the backend of Magento is not working anymore.

[2019-11-19 10:33] Niko9911 commented on #31
@rakibabu ?? Wtf

[2019-11-19 11:38] royduin commented on #31
Indeed, wtf... reopend 👍

[2019-11-19 16:59] DominicWatts commented on #31
Check output of github actions - I think these could be handled manually

[2019-11-19 17:45] Niko9911 commented on #31
Github actions should only do check and reject faulty code styling BEFORE merging master. Cs fixing itself should be done in level of composer

[2019-11-22 13:23] DominicWatts commented on #32
On 2.3.1 I get error pointing towards `Zend\Diactoros\ResponseFactory`

I think composer has all required packages. I will check again tonight but this still appears to be issue even with latest merges?

[2019-11-22 13:34] DominicWatts commented on #31
I disagree.  Automated code checks should be advisory and not preventative.  But their results are not always beneficial.  Plus standards change.

Although I understand your reasoning.  I work in a team and frequently have to clean up code.

[2019-11-22 13:41] Niko9911 commented on #31
This is the reason why we cannot have nice things 🙃

[2019-11-22 13:57] rakibabu commented on #32
In Released 2.1.0 this issue is fixed. Thanks to @JeroenBoersma @DominicWatts  :) I'll investigate this issue for 2.3.1.

[2019-11-22 23:29] DominicWatts commented on #32
Was missing nyholm/psr7

FYI if anyone else makes same mistake the error is this

[code]

So all good

[2019-11-23 16:53] rakibabu commented on #32
Good to hear. I'm closing this issue.

[2019-11-23 16:53] #32 closed

[2019-11-25 10:36] jupiterhs opened #39 "Possible bug - php-http/async-client-implementation requirement could not be resolved"
When I try installing magento2-sentry 2.1.0 on magento 2.3.3, i get a requirements error for php-http/async-client-implementation.
I am using the command
`composer require justbetter/magento2-sentry`

**Possible Solution**: I think that an implementation of  php-http/async-client-implementation should be included in the magento2-sentry composer.json. Similar to how psr/http-message-implementation,

[2019-11-25 11:04] peterjaap commented on #39
Run `composer require sentry/sdk:~2.0` - that'll fix it for you, see .

This dependency should be set in the extension' composer.json.

[2019-11-25 11:04] peterjaap opened #40 "Circular dependency in 2.1.0"
Magento 2.3.3
magento2-sentry 2.1.0

[code]

[2019-11-26 14:18] peterjaap opened #41 "Update Javascript SDK to latest version"
https://github.com/justbetter/magento2-sentry/blob/master/view/frontend/templates/script/sentry.phtml#L11

We're now at 4.5.3 while 5.91 is the most recent version. See changelog here; https://github.com/getsentry/sentry-javascript/blob/master/CHANGELOG.md

[2019-11-26 14:19] peterjaap commented on #41
As far as I can see we're only using basic functionality and only doing a `Sentry.init()` so upgrading shouldn't break stuff.

[2019-12-02 12:00] jupiterhs commented on #39
Should i make a pull request for this?

[2019-12-09 11:05] peterjaap commented on #41
Actually, we upgraded from 5.9.1 to 5.10.0 locally and it broke several things in our custom React components. So beware.

[2019-12-09 11:06] peterjaap commented on #41
Might be that 5.10.1 fixed that. Will report back after testing.

[2019-12-10 19:59] peterjaap commented on #39
@jupiterhs yes please!

[2019-12-12 09:35] rakibabu commented on #40
Hi @peterjaap ,

On a fresh install with Magento 2.3.3 I can't reproduce this issue. Can you tell me how I can reproduce this issue?

[2019-12-12 09:37] rakibabu commented on #41
@peterjaap ,

Nice catch. I'd love to hear if it works.

[2019-12-12 10:06] jupiterhs commented on #39
I have made the pull request [https://github.com/justbetter/magento2-sentry/pull/42](url)

[2019-12-12 10:10] #39 closed

[2019-12-12 10:11] rakibabu commented on #39
Thanks, it's released in version 2.2.1 👍

[2019-12-12 10:26] Niko9911 opened #44 "Install Error: Circular dependency"
[code]
Latest 2.2.1

Magento 2.3.3
PHP 7.2

[2019-12-12 10:28] royduin commented on #44
Duplicate: https://github.com/justbetter/magento2-sentry/issues/40, but thanks for reporting!

[2019-12-12 10:28] #44 closed

[2019-12-12 10:30] Niko9911 commented on #40
https://devdocs.magento.com/guides/v2.3/config-guide/cli/config-cli-subcommands-depen.html#sample-circular-dependencies-report

[2019-12-12 10:31] Niko9911 commented on #40
This prevents usage of this module.

[2019-12-12 11:00] jupiterhs commented on #39
Thank you @rakibabu

[2019-12-12 11:20] peterjaap commented on #41
@woutersteen could you try this out? I now see 5.10.2 is released as well.

[2019-12-12 12:15] peterjaap commented on #39
Weirdly enough, this doesn't fix it for me. I still need to run;

`composer require sentry/sdk justbetter/magento2-sentry`

instead of just

`composer require justbetter/magento2-sentry`

[2019-12-12 13:21] rakibabu commented on #40
@Niko9911 ,

Can you please provide us with detailed information? As example you can use this issue template;

https://github.com/justbetter/magento2-sentry/blob/master/.github/ISSUE_TEMPLATE.md

[2019-12-12 13:22] matthiashamacher opened #45 "Script Tag placement"
It's just a question regarding the script tag placement.
Why is there the opportunity to choose where to initialise the script tag?

As it is defined in the Sentry Docs I think it would be better to just implement it in the header. "You should init the Sentry Browser SDK as soon as possible during your page load" (https://docs.sentry.io/platforms/javascript/#configure-the-sdk)

[2019-12-12 13:26] royduin commented on #45
Maybe @michielgerritsen can answer that for you because he created it here: https://github.com/justbetter/magento2-sentry/pull/13

[2019-12-12 13:28] Niko9911 commented on #40
@rakibabu see #44 everything else outside of that cannot be provided due NDA. Your template is useless to report this kind issues.

[2019-12-12 15:04] rakibabu commented on #40
@Niko9911 ,

What do you propose to fix this? I can't reproduce this issue.

[2019-12-12 22:28] Niko9911 commented on #40
@rakibabu

Thanks for contributing!

[2019-12-13 10:35] rakibabu commented on #40
@Niko9911 ,

No problem, you're welcome 👍

[2019-12-16 13:40] peterjaap opened #46 "Release number is int, not string"
Version 2.0.0

[code]
[code]

Should be cast to string before returning it to sentry SDK I guess..

[2019-12-17 12:45] rakibabu commented on #46
Hi @peterjaap ,

Thanks for reporting, I'm not using the deployed_version so feel free to fix this in a PR.

[2019-12-23 22:15] michielgerritsen commented on #45
Yes, the best is to put in the header as it will catch more errors, but sooner or later you will hit a "SEO expert" requiring you to move it to the footer.

[2019-12-27 12:20] Zyles commented on #40
Same problem on 2.3.3.

Fix?

[2020-01-16 14:42] adamj88 opened #47 "Script tag included regardless of admin configuration for enabling it"
**Do you want to request a *feature* or report a *bug*?**

*bug*

**Bug: What is the current behavior?**

Script tag is included when admin configuration "Enable Sentry script tag" is set to 'No'

**Bug: What is the expected behavior?**

Script tag respects admin config

**Bug: What is the proposed solution?**

Update Helper/Data.php to correctly use admin configuration.

**What is the version of

[2020-01-22 16:13] GautierI commented on #40
Same problem on 2.3.3.

Still no fix ?

[2020-01-22 18:49] peterjaap commented on #40
I can't reproduce it anymore either. But apparently other people can so maybe other people can help out getting a reproducable setup. I'm unsubscribing from this thread.

[2020-01-29 12:25] kerlama commented on #40
Hi,

I overcome this by flushing redis cache, and it worked. Not sure what's the solution if you dont use redis on your instance.

Ivan

[2020-02-11 14:51] indykoning commented on #47
The PR with the fix has been merged and is available to update with composer.

[2020-02-11 14:51] #47 closed

[2020-02-17 02:09] ctadlock commented on #46
This happens when the extension is first deployed.

[2020-02-24 13:26] Alainvdz99 commented on #40
Just do a reinstall and it should disappear

[2020-02-24 13:42] mortenbirkelund opened #50 "Setup by CLI"
Hi

After updating to the latest version of this module, it seems it is no longer possible to setup using CLI.

[code]

This was working in previous a previous version but now I get an error saying that the path doesnt exist.

Have the configuration path been changed? I understand that the settings have been moved, but even with `--lock-env` it still doesnt work

I am sure it is just me who missed

[2020-02-24 14:22] indykoning commented on #50
This has indeed changed.
https://github.com/justbetter/magento2-sentry/blob/master/etc/adminhtml/system.xml
Here you can find the paths and configuration that is available, in short:
`sentry/general/deployment_config_info`
`sentry/general/enable_script_tag `
`sentry/general/script_tag_placement`

https://github.com/justbetter/magento2-sentry/commit/8a5598e81973cc426c07f52d607689974c6aa572
is the c

[2020-02-24 14:33] mortenbirkelund commented on #50
So it is no longer possible to to the setup of dsn and environment from commandline? Only by editing the env.php file manually?

[2020-02-24 14:48] indykoning commented on #50
Yes, that is correct.

[2020-02-24 15:11] mortenbirkelund commented on #50
@indykoning Thank you for answering.

[2020-02-24 15:11] #50 closed

[2020-02-25 15:22] indykoning commented on #46
This should be fixed in the new version 2.2.3 it will be up to download soon.

[2020-02-25 15:22] #46 closed

[2020-03-12 13:27] DavidLambauer opened #51 "System Config throws JS Errors"
Hi,

I am using the latest version of this module on Magento 2.3.4 Commerce. I am not able to send sentry test events via the button that is provided in the System Configuration.

The following error occurs:

![image](https://user-images.githubusercontent.com/1841317/76526206-7972c900-646d-11ea-8ebb-17030def15eb.png)

You'll be able to reproduce this issue by navigating to the System Config of thi

[2020-03-12 14:32] indykoning commented on #51
Hi,

We are unable to reproduce this on any of our environments (running 2.3.4 CE)
Might your static content not yet be compiled, please check if the file exists in `pub/static/adminhtml/Magento/backend/en_US/JustBetter_Sentry/js/testsentry.js`
Replace `en_US` with your back-end language.

If it does not exist make sure to run
`bin/magento setup:static-content:deploy en_US --theme Magento/backend`

[2020-03-12 15:45] DavidLambauer commented on #51
Alright, works now. Seemed to be a caching thing 🙈

[2020-03-12 15:46] #51 closed

[2020-06-05 10:32] peterjaap opened #52 "Add LogRocket integration"
It would be great to have LogRocket integration in the extension, see https://blog.logrocket.com/extending-sentry-with-logrocket-52e2f5b67d5a/

Two bits of code should be added;

Right after <head>:

[code]

Before </body>:

[code]

We'll need to add two configuration opties; Enable/disable LogRocket integration, and an input field for the LogRocket init key (which you'll get when you create a pro

[2020-06-05 10:33] peterjaap commented on #52
Extra bonus feature; identify logged-in users;

[code]

[Reference](https://docs.logrocket.com/reference#identify)

[2020-06-05 11:12] pimruiter commented on #52
Hi Peter Jaap,

Thanks for the requested feature! Looks like a nice addition to the Sentry extension. This will be part of the next update, which will be within the next few weeks.

[2020-06-11 14:43] shuat opened #53 "Sentry Domain not filled! error"
version 2.2.3
magento/product-community-edition 2.3.4
I followed all the install instructions and added the following to env.php
[code]
I went to Stores > Configuration > JustBetter > Sentry and turned on and tried testing and got the error message `Sentry Domain not filled!`

What should I do to debug further?

[2020-06-17 20:12] shuat commented on #53
Putting this here is case anyone else gets stuck and someone should come up with better messaging.

This message means that
$this->helperSentry->isActive() is not active
see [this](https://github.com/justbetter/magento2-sentry/blob/master/Helper/Data.php#L126) and [this](https://github.com/justbetter/magento2-sentry/blob/master/Controller/Adminhtml/Test/Sentry.php#L97)

The messaging should be a l

[2020-06-18 07:38] pimruiter commented on #53
Hi Shuat,

Thanks for the suggestion. We will improve the message in the current 2.2.4 update we're currently working on, so that the improvement wil be in the upcomming release.

 Thanks again.

[2020-06-29 11:50] indykoning commented on #53
Hi Shuat,

The [release with better error messages](https://github.com/justbetter/magento2-sentry/releases/tag/2.3.0) when configuration is missing, or there is a problem is now live!
Thank you for your feedback 😄

[2020-06-29 11:50] #53 closed

[2020-06-29 11:51] indykoning commented on #52
Hi Peter Jaap,

This feature is now available in the latest ([2.3.0](https://github.com/justbetter/magento2-sentry/releases/tag/2.3.0)) release!
Thank you for the suggestion! 😄

[2020-06-29 11:51] #52 closed

[2020-06-29 18:50] peterjaap commented on #52
@indykoning that is seriously fast, thanks!!

[2020-07-06 10:59] alexbejan-mavfarm commented on #41
Do you guys know why if the extension is not updated, the sentry notifications don't work any more

[2020-07-07 07:14] indykoning commented on #45
I think this question has been answered, so i'll be closing this issue.
If you don't think so feel free to reopen it 😃

[2020-07-07 07:14] #45 closed

[2020-07-07 07:22] indykoning commented on #41
Hi @alexbejan-mavfarm,
What version of this module are you running?
In https://github.com/justbetter/magento2-sentry/commit/b713b3e5158cd465ab0da4b76c68ca5427fd0aae
(Available in the latest version)
the js sdk version has been bumped from `4.5.3` to `5.17.0`

Maybe Sentry does not support 4.5.3 anymore.

[2020-07-07 07:26] indykoning commented on #40
This issue seems to be solved by flushing Redis cache or reinstalling.
I'll be closing this issue. Feel free to reopen it if the issue does still persist.

[2020-07-07 07:26] #40 closed

[2020-07-07 07:42] indykoning commented on #31
Hi,
do you mean a pre-commit hook or something simmilar?
It is a good suggestion but since we already check code style in the repository this isn't high on the to-do list.
PRs are more than welcome 😄

[2020-07-07 08:09] alexbejan-mavfarm commented on #41
@indykoning I was using `2.2.3` and the sentry notifications stopped working for critical log entries. Once I updated to `2.3.0` they started to work again. This has also happened last time the module (and presumably the sdk) were updated.

[2020-07-07 10:19] indykoning commented on #41
That is quite odd indeed.
Can you find any errors in your logs?
Older versions of this module should keep working as long as it is supported by the Magento version.

Changes to this repository should not influence the module you have locally.
Are you sure nothing else happened around the same time, like a Magento update or changes of sentry settings?

[2020-07-07 10:21] alexbejan-mavfarm commented on #41
There were no errors or changes. I think the SDK version increased and I assume sentry is holding the notifications if they don't come from the latest sdk version. I'll keep an eye next time this happens and reply.

[2020-07-07 14:27] indykoning commented on #41
Sounds good to me!
Since i don't think this is closely enough related to this issue and if it happens again it deserves it's own issue, i'll close this issue.
If it happens again please open a new issue and provide all the information you can give 😃

[2020-07-07 14:30] indykoning commented on #41
The SDK version has been updated to 5.17.0 in release [2.3.0](https://github.com/justbetter/magento2-sentry/releases/tag/2.3.0) 😄

[2020-07-07 14:30] #41 closed

[2020-07-07 16:20] NikoGrano commented on #31
If requested I can provide PR with Magento Codestyling. I will not force it pre-commit or anything. It can be there and if required it can be set lint the codestyle on CI.

[2020-08-21 14:41] t9toqwerty opened #57 "Option to enable & disable the functionality in Magento Admin"
**Feature: What is your use case for such a feature?**

Right now to stop Sentry error tracking we have to disable the module for which one needs to be comfortable with the command line and have basic knowledge about Magento. It will be good if we can have the functionality to disable or enable from Magento Admin so that store admin can do this without having to connect with the developer.

**Feat

[2020-08-21 15:36] t9toqwerty opened #58 "Enable or Disable Php Error Tracking"
**Feature: What is your use case for such a feature?**

There is no way to disable Php error tracking. This feature will give store admin more flexibility to enable any or both of Php & Javascript error tracking.

[2020-08-24 15:44] #57 closed

[2020-08-31 11:40] #58 closed

[2020-10-27 08:32] webtekindo opened #60 "Performance Monitoring"
Is there any plan to be able to use https://docs.sentry.io/product/performance/getting-started/ with this extension? Thank you.

[2020-10-28 11:03] indykoning commented on #60
That is not in the planning yet, but is is a great feature request! 😄

I have put it on the planning, in the meantime PRs are always welcome 🙂

[2020-10-28 12:19] webtekindo opened #61 "Javascript error missing environment variable"
In Sentry with PHP errors we have the correct value in **enviroment** tag. But for Javascript errors, the **environment** tag is not there. It makes it difficult to trace them in our different enviroments.

Do you have a solution to it?

[2020-11-28 16:02] matthiashamacher commented on #61
@webtekindo
I can confirm the issue and created a Pull Request to add the environment to JavaScript implementation.

[2020-11-30 11:00] indykoning commented on #61
I've merged and released the PR in [2.3.2](https://github.com/justbetter/magento2-sentry/releases/tag/2.3.2)

Thank you @matthiashamacher for your contribution 🎉

It should be out soon, if there are problems on 2.3.2 feel free to open a new issue 🚀

[2020-11-30 11:00] #61 closed

[2020-12-01 14:54] peterjaap opened #63 "Ignore static version in issue grouping?"
Everytime we do a new deploy, we suddenly see a spike in frontend errors. When I dove deeper into this, I noticed this is because after a deploy the static version signing URL is changed, and Sentry thinks it is a new issue (because new URL).

The same problem appears for different storeviews. These URLs are now seen as individual URLs while they should be grouped imho;

[code]

Is there a way to

[2020-12-01 15:47] indykoning commented on #63
We don't add any additional Javascript over setting up and configuration of Sentry so i'm afraid we will not be able to do much from this extension. It would be a great feature in general though, letting it match a pattern.

Take a look to see if there is already an issue opened on https://github.com/getsentry/sentry-javascript and if not open one.

The alternative is disabling asset signing but t

[2021-01-06 14:48] oneserv-heuser commented on #52
@indykoning Just stumbled upon this nice feature and tried to make it work in the adminhtml scope, but it doesn't seem to work. After going through the code in the PR it looks like as it is not supported. Would it be possbile to add support for js error tracking with sentry and logrocket in the adminhtml scope (with user tracking)? That would be really nice!

[2021-01-07 07:31] oneserv-heuser opened #67 "Feature request: Add JS error tracking + logrocket integegration to adminhtml area"
At the moment JS error tracking is only working in the frontend (same for logrocket integration).
I'd love to have the error tracking and logrocket integration (with user identification based on logged in adminhtml user) added to the adminhtml area.

That would be a real game changer for us in error tracking.

Is it possible to add this feature? That would be really nice!

[2021-01-07 07:46] peterjaap commented on #63
SImilar issue; https://github.com/getsentry/sentry-javascript/issues/112

[2021-01-07 08:00] peterjaap commented on #63
As far as I can see, we should be able to modify the event with a beforeSend hook; https://docs.sentry.io/platforms/javascript/configuration/filtering/

[2021-01-07 08:16] peterjaap commented on #63
Here's whats inside the `event` object in `beforeSend`:

[code]

[2021-01-07 08:37] peterjaap commented on #63
Score!

![image](https://user-images.githubusercontent.com/431360/103870372-e7a70d00-50cb-11eb-8f91-4b81b2d687af.png)

[2021-01-07 08:48] peterjaap commented on #63
I'll test this in production for of our stores, will report back.

[2021-01-07 08:49] peterjaap commented on #63
I'm thinking we should make this a configuration setting (which defaults to disabled in order to stay backwards compatible). We could add an option to strip out the store code as well.

[2021-01-08 10:14] indykoning commented on #63
That's great that we can fix it from our side!
I do agree that we may want to have it as a configuration option for whoever is dependent on de version being pushed as well.

Yes, either another option to remove the language as well. Or an input field to define regexes with patterns to remove items from the url. However maybe adding a field for regexes will be too complicated an cluttered to manage

[2021-01-08 10:22] indykoning commented on #67
It should definitely be possible to add an option for this.

We are planning to move the logrocket functionality to another repository and add it as a suggest to this repository.
During this we will be trying to add support for logrocket in the backend as well.

If before that a PR is made to this repository to add the functionality we will still merge it and just migrate it over as well 🙂

[2021-01-15 11:26] simonmaass opened #68 "ErrorException in Version 2.5.0"
ErrorException
Deprecated: array_key_exists(): Using array_key_exists() on objects is deprecated. Use isset() or property_exists() instead

![Unbenannt](https://user-images.githubusercontent.com/32599710/104719545-ea89a980-572c-11eb-8596-cf2ca9d99149.png)

[2021-01-15 11:55] matthiashamacher commented on #68
@simonmaass
Sorry about that. During testing I didn't got any errors.
I will have a look at it during the weekend.

[2021-01-15 16:10] nguyentrunghieu98 opened #69 "Could not connect to sentry"
**Do you want to request a *feature* or report a *bug*?**

**Bug: What is the current behavior?**

**Bug: What is the expected behavior?**

**Bug: What is the proposed solution?**

**Feature: What is your use case for such a feature?**

**Feature: What is your proposed configuration entry? The new option to add? What is the behavior?**

**What is the version of Magento and of Sentry extension you

[2021-01-15 16:11] #69 closed

[2021-01-15 16:24] nguyentrunghieu98 opened #70 "Not in production and development mode is false."
'sentry' => [
        'dsn' => 'https://627aac5b01a344898ec4a85b9.......',
        'logrocket_key' => 'magento-2-test/magento',
        'environment' => 'developer',
        'log_level' => \Monolog\Logger::WARNING,
        'mage_mode_development' => false
    ]

I got this error when testing sentry

[2021-01-17 12:14] matthiashamacher commented on #70
@nguyentrunghieu98
You get the error because your Magento is not in production mode and Sentry is disabled for developer mode. Either change to production mode `bin/magento deploy:mode:set production` or set the `mage_mode_development` to true in your configuration.

[2021-01-17 12:23] nguyentrunghieu98 commented on #70
Can the Magento 2.4.1 version use the sentry module?

[2021-01-17 12:58] jahvi opened #72 "LogRocket sessionUrl not set"
**Do you want to request a *feature* or report a *bug*?**
Bug

**Bug: What is the current behavior?**
The LogRocket sessionUrl does not show in Sentry's issue report when LogRocket is configured.

<img width="1271" alt="Screenshot 2021-01-17 at 12 58 06" src="https://user-images.githubusercontent.com/661330/104843666-b4326280-58c3-11eb-9b3c-8673b2475eaa.png">

**Bug: What is the expected behavior?

[2021-01-17 12:59] nguyentrunghieu98 commented on #70
![Uploading Screenshot.png…]()

[2021-01-18 08:46] indykoning commented on #68
Hi Simon,
this has now been fixed in 2.5.2 which should be available now 🎉

If you have custom code calling the [send function of the sentrylog model](https://github.com/justbetter/magento2-sentry/blob/fe45d45b1460b88a2d00c666e2177b1990f5360b/Model/SentryLog.php#L63) check that `monolog` is not an argument in those functions anymore.

Let us know if you run into any problems with it 🙂

[2021-01-18 18:51] simonmaass commented on #68
works - thank you!

[2021-01-18 18:51] #68 closed

[2021-02-03 11:32] peterjaap commented on #63
@indykoning first stab at this; https://github.com/justbetter/magento2-sentry/pull/73

I've added a group and two settings (one if the store is in single store mode, because stripping the store code wouldn't make sense in that case);

![image](https://user-images.githubusercontent.com/431360/106741403-e9f17e00-661b-11eb-8763-732a4f97dd20.png)

[2021-02-03 13:16] indykoning commented on #63
It looked good to me and is available as version 2.5.3 🚀
I agree with allowing people to enable/disable it since if we were to just change it it could cause some confusion.
And of course not all shops use the store code in the url.

[2021-02-03 13:16] #63 closed

[2021-02-03 14:27] peterjaap commented on #60
@webtekindo what should we add for this? As far as I can see, you just have to add `'traces_sample_rate' => 1.0` to your env.php file?

[2021-02-22 13:47] salmino commented on #60
@peterjaap does the plugin pass the `traces_sample_rate` parameter onto Sentry SDK?

[2021-02-23 14:59] michi-z opened #76 "Update causes Nginx Error '104: Connection reset by peer while reading response header from upstream'"
We run a Magneto 2.2.6 Shop and wanted to update the sentry extension to a newer version. We used the 0.6.2 version too long. Composer installed the version 2.2.3.

After that we got some times the Http Error 502 'Bad Gateway'. It was caused bei an nginx error (104: Connection reset by peer while reading response header from upstream) that was caused by an exiting php.

Because the error is not ea

[2021-03-01 15:27] medialoungeml commented on #76
We had the same issue using PHP 7.1 and Magento 2.2.6

We haven't noticed it on newer M2 and PHP versions.

[2021-03-05 10:35] indykoning commented on #72
A possibility is to follow along with
https://docs.logrocket.com/docs/sentry
and replacing the setExtra with setContext
https://docs.sentry.io/platforms/javascript/enriching-events/context/#structured-context

This way you'd get a new fieldset with a `Logrocket` heading and under this heading you can push any logrocket information.
It would be a nice addition

[2021-03-06 10:13] jahvi commented on #72
After some investigation this is not a problem with this module but the Sentry JS SDK itself. To summarise [you can't use `setContext` or `setExtra` asynchronously] in transactions (https://github.com/getsentry/sentry-javascript/issues/3202).

This means it doesn't work for JS errors that trigger on page load but it works with errors that trigger afterwards (like AJAX requests, etc).

What we ende

[2021-03-06 10:13] #72 closed

[2021-03-18 16:25] indykoning opened #77 "Add check for ErrorException severity"
**Feature: What is your use case for such a feature?**
Add an extra configuration field that for the minimum severity level before the exception gets logged to Sentry.
This can be any of these constants
https://www.php.net/manual/en/errorfunc.constants.php

The only issue is, the getSeverity function is only available in ErrorException objects https://www.php.net/manual/en/errorexception.getseveri

[2021-03-24 08:07] oneserv-heuser commented on #67
Hey @indykoning, do you have any updates?

[2021-03-24 16:01] indykoning commented on #67
I am afraid not, it has been quite busy over here, since separating Sentry and logrocket is quite the undertaking and the lack of time on our end we haven't gotten started with separating them out yet.

[2021-04-08 09:21] indykoning commented on #77
This has been released in version 2.6.0

[2021-04-08 09:21] #77 closed

[2021-04-08 09:26] indykoning commented on #70
Yes, it supports and has been tested on 2.4.1 😃

[2021-04-08 09:26] #70 closed

[2021-08-28 06:24] JKair opened #79 "I can't login admin panel"
**Do you want to request a *feature* or report a *bug*?**
bug

**Bug: What is the current behavior?**
When I enable this module,the admin panel will sign out soon after sign in.But the website front is normal.
**Bug: What is the expected behavior?**
sign in normal.
**Bug: What is the proposed solution?**

**What is the version of Magento and of Sentry extension you are using? Always use the latest

[2021-08-28 06:49] JKair commented on #79
no error report in excetion.log

[2021-08-30 13:58] indykoning commented on #79
Hi, that is quite odd behavior we haven't experienced before.
Do you have the right configuration set in your env.php?
Is there maybe anything you see that might cause it in the system.log?
Or maybe something in your network tab?

I'm guessing there must be some error happening causing this logout.

I've checked on a production server running 2.4.2-p1 and it has no problems keeping me logged in in

[2021-09-07 12:08] dzschille commented on #79
I have the same problem: i can log in but after the first click in the backend menu i get logged out. But the frontend works fine. In the Magento _debug.log_ i see:

[code]
Phalcon is just found in vendor/php-http/discovery:

[code]
As soon as i remove the "sentry" configuration from _app/etc/env.php_ Phalcon doesn't appear in the debug log anymore.

I use
Magento 2.3.5-p2
justbetter/magento2-sent

[2021-09-08 17:35] scolandrea opened #80 "Compatibility with Magento Cloud"
Hey guys!

I really like this extension I would love to use it on Magento cloud projects but I found a big blocker. You are using `DeploymentConfig` to get all the configuration sentry settings. The problem with that is you are recollecting these options either from env.php or config.php. For on-premise projects is not a big issue to add all the settings into the env.php file but for Magento Cloud

[2021-09-09 09:58] JKair commented on #79
Oh,guys,thanks for your debug.I'm so busy that haven't time to feedback.

[2021-09-09 10:00] JKair commented on #79
@dzschille oh,guys,thanks for your info,I've been so busy lately that haven't time to give more info to @indykoning.

[2021-11-19 08:54] Quazz opened #81 "Lazyloading SDK"
**Feature: What is your use case for such a feature?**
Since Sentry can also be used in a production environment, improving load performance is desirable.

**Feature: What is your proposed configuration entry? The new option to add? What is the behavior?**
Sentry has the option to lazy load its SDK as per https://docs.sentry.io/platforms/javascript/install/lazy-load-sentry/
It will require minor m

[2021-11-19 09:01] #81 closed

[2022-03-30 22:29] julioxx22 commented on #80
It would be a good approach for Magento Cloud

[2022-03-31 08:57] indykoning commented on #80
I think treating the settings as module configuration would be the best approach to this because why would we read the environment variables manually when a more flexible solution already exists 😉

I would prefer the deployment config to still be allowed for backwards compatibility 🙂

[2022-04-01 17:32] roger10010 opened #83 "What are the equivalent environment variable names for the settings placed in env.php"
Hi,

Does anyone know what the names of the environment variables are that will be used to populate the fields normally defined in env.php for this intergration? Sadly I do not know much about Magento and while I have been able to decode the docs well enough to set certain system wide default web values I do not understand things well enough to work out the names that will map to the Sentry settin

[2022-04-02 15:30] indykoning commented on #83
Hi!

This is related to #80 and this will be able to be set by en environment variable like that by the time it is closed

Sadly the [Magento Deployment Configuration](https://devdocs.magento.com/guides/v2.3/config-guide/config/config-php.html) we use cannot be set using variables by normal means.
We have been able to do that by using means such as https://github.com/justbetter/magento2-dotenv (To

[2022-04-02 15:46] rit001 commented on #83
In fact, it is already doable as it is a feature of the Magento config system. My question was about what env names to use - while I'm still working on my final configuration I can say that the required env names are

      CONFIG__DEFAULT__SENTRY_DSN
      CONFIG__DEFAULT__SENTRY__ENVIRONMENT
      CONFIG__DEFAULT__SENTRY__LOG_LEVEL
      CONFIG__DEFAULT__SENTRY__MAGE_MODE_DEVELOPMENT
      CONFI

[2022-04-12 18:03] peterjaap opened #84 "PHP 8.1 support"
After install this extension on Magento 2.4.4 with PHP 8.1 (with `--ignore-platform-reqs` composer flag), I'm getting this error when running `bin/magento setup:upgrade`;

[code]

[2022-04-13 12:45] indykoning commented on #84
Support for the newer php version with the newer monolog versions is now released as version 3.0.0 🎉
Let me know if you run into any more issues on Magento 2.4.4 😁

[2022-04-13 12:45] #84 closed

[2022-04-15 06:05] paugnu opened #87 "Can't install version 3.0.0 in Magento 2.4.3-p1/p2"
Hi,

I've tried to update the sentry package in my Magento 2.4.3-p1 (and also -p2). But I get an error regarding monolog:

[code]

[2022-04-15 08:10] indykoning commented on #87
It is correct that version 3.0.0 of this module does not install on Magento 2.4.3 since the release has been made to address changes in monolog 2.0.0+ which is used since Magento 2.4.4.

Composer should've already recognised these requirements and automatically select version [2.6.1](https://github.com/justbetter/magento2-sentry/releases/tag/2.6.1) which it seems that it has not done in this case.

[2022-04-15 09:08] paugnu commented on #87
Thanks for the explanation, @indykoning.

I was also expecting composer to apply the version match, but it didn't. Specifying version 2.6.1 works fine.

Thanks!

[2022-04-15 09:08] #87 closed

[2022-05-10 08:07] in-session opened #88 "Bug: wrong product link if groups[seo][fields][product_use_categories][value] = 0"
Today we tested the module under Magento 2.4.4 with PHP 7.4, we noticed that if "Use Categories Path for Product URLs" is disabled + multistore the product links within the categories are not correct in the frontend.

Output without PHP tracking:
domain.com/en/category/subcategory
domain.com/en/product-item-url

Output with PHP tracking:
domain.com/en/category/product-item-url

[2022-05-16 11:53] peterjaap opened #89 "Add support to filter out events"
Sometimes we encounter a bug but it takes a while for us to fix it (due to whatever reason).

We'd like to temporarily filter this event from turning up in Sentry. We could do this by ignoring the event in Sentry, but incoming events will still count towards our quota. Some of these events actually eat up almost all of our quota for a given month, so we want to filter them on the Magento end inste

[2022-05-16 13:29] indykoning commented on #89
I fully agree with the ability to filter out the errors in PHP and some of these are already in the Sentry module as well.

Currently we have `errorexception_reporting` allowing you to filter out Errors extending [ErrorException](https://www.php.net/manual/en/class.errorexception.php) by it's severity, it works the same way as [error_reporting](https://www.php.net/manual/en/function.error-reportin

[2022-05-16 13:30] peterjaap commented on #89
Yes `sentry_before_send` would be great.

[2022-05-17 11:30] peterjaap commented on #89
Example extension;

`app/code/Elgentos/SentryBeforeSendHooks/etc/events.xml`

[code]

`app/code/Elgentos/SentryBeforeSendHooks/Observer/Sentry/BeforeInit.php`

[code]

[2022-05-17 11:40] peterjaap commented on #89
We can apply a similar strategy for frontend events. We now override `JustBetter_Sentry/templates/script/sentry.phtml` in our theme and add this;

[code]

[2022-05-17 11:50] peterjaap commented on #60
@salmino you're right. It does not.

But with https://github.com/justbetter/magento2-sentry/pull/90, you can easily enable the performance monitoring to test it. I'm running a test now, if it's successful, I'll create a PR to add it to this extension.

I've created an observer that does this;

[code]

[2022-05-17 11:55] peterjaap commented on #60
If you run it in production and especially if you have a high sample rate, please use [Relay](https://docs.sentry.io/product/relay/getting-started/).

[2022-05-17 12:16] peterjaap commented on #60
I guess this doesn't do anything since we should probably find a way to create these "Transactions" they're speaking of. Now, this extension only fires when an actual exception is being thrown.

[2022-05-17 13:03] peterjaap commented on #60
Maybe we could get some inspiration from https://github.com/yireo/Yireo_NewRelic2

[2022-06-02 08:10] AboElnoor opened #91 "Exception on setup:upgrade with ver 2.4.4 and php 8.1"
**Do you want to request a *feature* or report a *bug*?**
Bug

**Bug: What is the current behavior?**
when running bin/maginto setup:upgrade it shows an exception started with the following screenshot:
![Screenshot-20220602093115-1861x80](https://user-images.githubusercontent.com/16509141/171584560-85712b4f-d3dc-4a13-883d-b5fc1d7524a7.png)

**What is the version of Magento and of Sentry extension

[2022-06-02 09:36] #91 closed

[2022-06-09 11:24] adamj88 opened #93 "Incompatible with monolog/monolog v2.7.0"
Today, monolog/monolog was updated to v2.7.0 where they added an additional `$datetime` parameter to the `addRecord` method in: https://github.com/Seldaek/monolog/releases/tag/2.7.0

Since this module requires >=2.0.0 of monolog an error is produced:

[code]

Ref:

- https://github.com/justbetter/magento2-sentry/blob/d4ae32882a39e127a863a2c74b7f62ec4341c1b4/Plugin/MonologPlugin.php#L54
- https://g

[2022-06-13 16:35] simonmaass opened #94 "Spam in debug.log file"
I am experiencing a log spam in debug.log - magento 2.4.4 and php8.1:

[code]

when i remove the sentry config from the .env then the logs disappear...

[2022-06-14 14:55] indykoning commented on #93
This has now been fixed and released as version 3.1.0 🚀

[2022-06-14 14:55] #93 closed

[2022-06-15 12:39] peterjaap opened #95 "Call to undefined method JustBetter\Sentry\Plugin\MonologPlugin::addAlert()"
I have a clean Magento 2.4.4 on PHP 8.1 install with this plugin installed.

I configured Sentry by adding the `sentry` array with the correct info to `app/etc/env.php`, and imported the config.

Now I try to do a test event from the backend but I get the error "A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later

[2022-06-16 11:07] oneserv-heuser opened #96 "Send context data passed to LoggerInterface to Sentry"
**Do you want to request a *feature* or report a *bug*?**

Feature request

**Feature: What is your use case for such a feature?**

I want to be able to send context data to Sentry, concrete I want the data passed to $context in all the functions from the [Psr\LoggerInterface](https://github.com/php-fig/log/blob/master/src/LoggerInterface.php) to be shown in Sentry.
That is useful so that I can se

[2022-06-21 11:26] simonmaass commented on #94
@indykoning can you confirm this?

[2022-07-03 09:48] MeCapron commented on #95
Hello,

Could you add the patch to the core version please?

[code]

[2022-07-05 12:54] peterjaap commented on #95
https://github.com/justbetter/magento2-sentry/pull/98

[2022-07-07 09:26] #96 closed

[2022-07-07 09:44] indykoning commented on #95
This has now been fixed as of version [3.2.0](https://github.com/justbetter/magento2-sentry/releases/tag/3.2.0) 🚀

[2022-07-07 09:44] #95 closed

[2022-07-14 10:25] lumnn commented on #94
I do also experience this on version 2.6.1

[2022-08-03 11:52] dzschille commented on #79
We have also updated to Magento 2.4.4 and have still the same error:

[code]
When i remove the sentry config from app/etc/env.php then the logs disappears.

[2022-08-03 11:56] simonmaass commented on #79
For now i just created this composer patch...

[code]

[2022-08-03 12:01] dzschille commented on #94
Same here on Magento 2.4.4 and and 2.3.7.

[2022-09-08 11:20] VladyslavSikailo opened #100 "Exceptions in Consumers are not sent to Sentry"
**Sentry module bug**

In case exceptions are thrown from the Magento Consumer - they are not logged to Sentry.
It might be a big problem for projects that use Queues.

**Bug: What is the current behavior?**
Exceptions from Consumers just logged to log files, but not sent to Sentry.

**Bug: What is the expected behavior?**
Exceptions from Consumers should be sent to Sentry.

**Bug: What is the pro

[2022-10-11 14:55] indykoning commented on #88
The Magento 2 Sentry integration doesn't actually listen nor has to listen to any of these Magento settings.
The url that is sent to Sentry with the Exception is actually handled by the sentry php package itself
https://github.com/getsentry/sentry-php/blob/87f620b455db96c73987cb1008040f0d2cfb9e17/src/Integration/RequestIntegration.php#L130

It takes it straight from the current request. The fact t

[2022-10-11 14:55] #88 closed

[2022-10-11 15:05] indykoning commented on #76
I think this may be related to
https://magento.stackexchange.com/questions/268896/upstream-sent-too-big-header-while-reading-response-header-from-upstream
It can be an issue if you have many different blocks, widgets and the like on a page.

Or just as likely your PHP running into a memory limit or a timeout. I suggest having a look in your `/var/log/php*-fpm.log` when it happens.

I'm closing thi

[2022-10-11 15:05] #76 closed

[2022-10-11 15:28] indykoning commented on #79
I think this may have to do with [Sentry's](https://github.com/getsentry/sentry-php) dependency on [php-http/discovery](https://github.com/php-http/discovery/blob/105b62f87659175de0924219ce2ba338e541ab66/src/Strategy/CommonPsr17ClassesStrategy.php#L24) which may cause issues.

I know the Magento integration does not need any of these classes itself.
What kind of environment is this being run on?
O

[2022-10-11 15:31] indykoning commented on #94
See my response here https://github.com/justbetter/magento2-sentry/issues/79#issuecomment-1274883339
I am unable to get this to happen i'm afraid.

This probably works https://github.com/justbetter/magento2-sentry/issues/79#issuecomment-1203853397 however it makes no sense that that should happen and that it does not happen for other people.

[2022-10-13 12:16] PascalBrouwers opened #105 "not compatible with magento 2.4.4"
not compatible with magento 2.4.4

[code]

[2022-10-14 09:08] indykoning commented on #105
To make this compatible with 2.4.4 you have to update to version 3.1.0+ 🙂
https://github.com/justbetter/magento2-sentry/commit/8326975e7b5f8d4a6203b8e994d93a28331f0fe3

[2022-10-14 09:08] #105 closed

[2022-10-14 10:29] peterjaap commented on #105
@indykoning are you sure?

That commit only adds `$datetime` as an argument to the `parent::addRecord` but in 2.4.4 the complete `addRecord` method has been removed; https://github.com/magento/magento2/blob/2.4.4/lib/internal/Magento/Framework/Logger/Monolog.php

In 2.4.3 it was still there; https://github.com/magento/magento2/blob/2.4.3/lib/internal/Magento/Framework/Logger/Monolog.php#L34

[2022-10-14 10:37] peterjaap commented on #105
Right, i see now. Magento previously had that `addRecord` method overridden in their own lib. That wasn't needed anymore because of reasons (?) and now it gave an error because of `datetime` missing. So the easy fix was to remove the whole override, dus making `parent::addRecord` call to the original addRecord method in de Monolog package; https://github.com/Seldaek/monolog/blob/main/src/Monolog/L

[2022-11-02 16:11] barryvdh commented on #60
Proof of concept: https://github.com/justbetter/magento2-sentry/pull/106